_config.yml
.env
.github/
.travis.yml
.vscode/
appveyor.yml

# This basically ignores every file in the build directory
# except everything in build/Release/
build/*
!build/Release

build_def/
builds/
build_dev/
CMakeFiles/
deploy-docs.sh
docs/
examples/
libuiohook/
prebuilds/
test/
/binding.gyp
/uiohook.gyp
