_config.yml
.env
.github/
.travis.yml
.vscode/
appveyor.yml

# This basically ignores every file in the build directory
# except build/Release/iohook.node and build/Release/uiohook.lib
build/*
!build/Release
build/Release/*
!build/Release/iohook.node
!build/Release/uiohook.lib

builds/
build_dev/
CMakeFiles/
deploy-docs.sh
docs/
examples/
libuiohook/
prebuilds/
test/
/binding.gyp
/uiohook.gyp
