.idea/
.vscode/
.scratch/
build/

# This basically ignores every file in the build directory
# except everything in build/Release/
build/*
!build/Release

docs/.vuepress/dist/
logs/
node_modules/
prebuilds/
.github/
CMakeFiles/
docs/
examples/
test/
.env
*.DS_Store
*.iml
*.log
npm-debug.log*
stacktrace*
/binding.gyp
/uiohook.gyp
.lintignore
.eslintrc.json
.prettierrc.json
_config.yml
